<div class="video-wrapper">
  <video  autoplay loop playsinline [muted]="true"  >
    <source src="assets/videos/videoGas.mp4" type="video/mp4" >
  </video>
  <div class="header">
    <div class="row">
      <div class="col-lg-6 col-md-4 col-sm-12">
        <div class="animate-charcter ">
          <h3>GENERAL AVIATION SUPPORT</h3>
          <div >Gas aviation go beyond expectations in aircraft end of life services;
            offering leasing, technical consulting, trading and supply of equipment from
            entire aircraft, through to piece part components.</div>
        </div>
        <div class="box-left">
          Gas aviation unlocks excellence in Aircraft Parts ,
          where precision meets Leadership. Your journey to superior quality begins here.
        </div>
        <button class="btn  btn-outline"> <a href="contact" style="color: white">Contact us</a></button>
      </div>
    </div>
  </div>
</div>


