<footer class=" ">
  <div class=" box-certificat">
    <span class="w-25 ">
      <img src="assets/imgs/gasLogo1.png" alt="Certificate" class=" ">
    </span>
    <span class="link">
      <h1 class="text-uppercase ">links</h1>
      <div class=" "><i class="bi bi-house"></i><a href="accueil" aria-current="page">Home</a></div>
      <div class=" "><i class="bi bi-door-open"></i><a href="about">About Us</a></div>
      <div class=" "><i class="bi bi-gear"></i><a href="ourService">Services</a></div>
      <div class=""><i class="bi bi-house-gear"></i><a href="stocks">Our Stock</a></div>
      <div class=" "><i class="bi bi-chat-dots"></i><a href="contact">Contact</a></div>
    </span>
    <span class="mail"><h1 class="text-uppercase">e-mails</h1>
      <a
        href="mailto:Repairs@pal-aviation.ee"> <i class="bi bi-envelope"></i> gas-aviation.com<br></a><a
        class=""
        href="mailto:Marketing@pal-aviation.ee"><i class="bi bi-envelope"></i> gas-aviation.com<br></a><a
        href="mailto:sales@pal-aviation.ee"><i class="bi bi-envelope"></i> gas-aviation.com<br></a>
    </span>
    <span class=" "><h1 class="text-uppercase">Get in touch<br></h1>
      <a href="">
        <div class="">
          <div><i class="bi bi-geo-alt"></i><span>Espagne</span></div>
          <div><i class="bi bi-geo-alt"></i><span>Lettonie</span></div>
          <div><i class="bi bi-geo-alt"></i><span>Côte d'Ivoire</span></div>
        </div>
      </a>
      <a class="" href="tel:+3726170449" target="_self">
        <div class="">
          <div><i class="bi bi-phone"></i><span>(+111) 32345656567</span></div>
        </div>
      </a>
    </span>
  </div>
  <div>
    <div class="sociaux">
          <span class="twitter"><a href="https://twitter.com" class="">
          <img src="assets/imgs/twitter.png" alt="twitter" ></a>
        </span>
      <span class="linkedin"><a href="https://www.linkedin.com/" class="">
          <img src="assets/imgs/linkedin.png" alt="linkedin" ></a>
        </span>
    </div>
  </div>
  <hr>
  <div class="text-center">&#64; GAS - AVIATION 2024 - All Rights Reserved</div>
</footer>

