
<div class="">
  <div id="carouselExampleInterval" class="carousel small mb-2" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="assets/imgs/about.png" class=" rounded" alt="photo">
      </div>
      <div class="carousel-item" data-bs-interval="10000">
        <img src="assets/imgs/about1.jpg" class=" rounded" alt="photo">
      </div>
      <div class="carousel-item " data-bs-interval="10000">
        <img src="assets/imgs/about2.jpg" class=" rounded" alt="photo">
      </div>
      <div class="carousel-item " data-bs-interval="10000">
        <img src="assets/imgs/about3.jpg" class=" rounded" alt="photo">
      </div>
      <div class="carousel-item " data-bs-interval="10000">
        <img src="assets/imgs/about3.jpg" class=" rounded" alt="photo">
      </div>
    </div>
  </div>
</div>

<div class="style-about">
  <section>
    <div class=" mb-5">
      <h1>We keep the world flying </h1>
      <div>
        A global aviation leader , General Aviation Support (GAS) specializes in sale, lease
        and exchange of aircraft parts, engines ,
        and components with unrivaled expertise and proven strategies for supporting operators.
      </div>
    </div>
    <div class="">
      <h1>We are experts, but we never stop listening</h1>
      <div>	General Aviation Support (GAS) is now one of the largest independent aviation
        parts distributors in the world covering every aerospace market sector. We've been in the
        business of providing comprehensive aircraft inventory support for airlines, MROs, OEMs,
        and distributors. We hold over a million line items of inventory on the
        shelf consisting of consumable, rotable and airframe spares for an extensive range of aircraft
      </div><br>
      <div>	We're here to help you with supply chain services tailored to different aircraft families,
        such as the Airbus Family A319/A320/A321/A330/A340, B737CL/B737NG/B747/B757/B767/B787, ATR,
        and Bombardier aircraft.
      </div>
      <div>	We know the value of earning a customer’s trust. We value essentially meeting customer
        needs and delivering quality products, on time, at a competitive price.</div>
    </div>
  </section>
  <section>
    <h3 class="mb-3 ">
      WELCOME TO 	General Aviation Support (GAS)
    </h3>
    <div class="row">
      <div class="col-lg-5 col-md-4 col-sm-12 ">
        <div class="">
          We know the value of earning a customer’s trust. We value
          essentially meeting customer needs and delivering quality products, on time, at a competitive price.
        </div>
      </div>
      <div class="col-lg-7 col-md-4 col-sm-12 ">
        <img alt="" src="assets/imgs/gas-logo.jpg" class="img-w">
      </div>
    </div>
  </section>
</div>

