<div class="video-wrapper">
  <video playsinline autoplay [muted]="true"  loop>
    <source src="assets/videos/videoPal.mp4" type="video/mp4">
  </video>
</div>
<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 mb-5" style="" *ngFor="let service of services">
      <div class="item">
        <a href="{{service.url}}">
          <div class="card-body">
            <div class="card-icon">
              <i class="{{service.icon}}"></i>
            </div>
            <h2 class="card-heading">{{service.header}}<br><br></h2>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container service-style">
  <div class="row" id="exchange-section">
    <h1>EXCHANGE</h1>
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div>
          Through our Exchange there is no need for airlines to maintain high cost components in their inventories.
          All the exchange units are provided with full certification, traceability and warranty. The exchange units
          are shipped the same day to avoid AOG situations and keep
          the aircraft flying, without any increase in inventory costs.
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <img src="assets/imgs/exchange.png">
    </div>
  </div>
  <div class="row" id="repair-section">
    <h1>LOANS AND REPAIR MANAGEMENT</h1>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <img src="assets/imgs/load.png">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div>When an aircraft part breaks down, allow our team to get you off the ground and flying confidently
        with our loans and repair management services. If you’re not ready to exchange a part or invest in a new one,
        General Aviation Support can assist in managing the repair,
        including piece part sourcing to assist in total cost reduction.
      </div>
      <div>
        General Aviation Support has strong relationships with 90 repair stations worldwide.
        Our breadth of experience managing repairs and sourcing piece parts coupled with our extensive inventory
        can assist your organization with keeping costs and lead times in line while managing repairs.
      </div>
      <div>
        General Aviation Support can offer you multiple advantages such
        as infusing your operation with capital, while reducing
        the overhead to store and maintain the equipment,
        and keep your aircraft operational.
      </div>
    </div>
  </div>
  <div class="row" id="sale-section">
    <h1>OUTRIGHT SALE</h1>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div>General Aviation Support component is truly Nose-to-Tail solutions, covering everything from Consumables to Rotables,
        Landing Gear to Engines, and all available immediately from our expert AOG team our partners for outright sales to help
        to provide the stock needed to replace your components or to your stock location.
      </div>
      <div>
        We can offer best-in-industry pricing. Simply call us with your parts list. And 24/7 AOG service through our network of
        offices worldwide means you can get what you need to get airborne again quickly and efficiently.
      </div>
      <div>
        Traceability is guaranteed, and all aircraft rotables are supplied with appropriate airworthiness
        release certification from OEM’s and approved workshops.
      </div>
      <div>
        We strategically stock high demand rotables
        for our global customer base. Our inventory
        includes but is not limited to :
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <img src="assets/imgs/sale.png">
    </div>
  </div>
  <div class="row" id="aog-section">
    <h1>AOG SERVICE</h1>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div>Our AOG team is available 24/7/365.
        We stock thousands of line items of airworthy material that can always be dispatched within an hour.
        Please reach out anytime via phone or email for your urgent AOG requirements.
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <img src="assets/imgs/aog.png">
    </div>
  </div>
  <div class="row" id="consume-section">
    <h1>CONSUMABLES AND EXPENDABLES</h1>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div>General Aviation Support has a large and growing inventory of expendables and consumables.
        Our management program is designed to lower cost and increase efficiency. We are actively looking for
        opportunities to purchase large packages of these materials.
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <img src="assets/imgs/consume.png">
    </div>
  </div>
  <div class="row" id="leasing-section">
    <h1>LEASING</h1>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <img src="assets/imgs/leasing.png" class="mb-2">
      <img src="assets/imgs/leasing.png">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div>General Aviation Support is a company that offers long-term leasing options for planes.
        This allows individuals and businesses to have access to an aircraft for an
        extended period, without the need to purchase a plane outright.
      </div><br>
      <div>
        One of the benefits of long-term leasing with General Aviation Support is the ability to customize the terms
        of the lease to meet the specific needs of the customer. This includes the length of the lease, the number of
        hours the plane will be used, and any additional services such as pilot training or maintenance.
      </div><br>
      <div>
        In addition to offering flexible leasing options, General Aviation Support
        is known for their commitment to safety and reliability. Their fleet of planes is well-maintained
        and equipped with the latest technology, and their
        team of experienced pilots and mechanics ensure that each aircraft is in top condition.
      </div><br>
      <div>
        For those in need of a plane for extended periods of time, General Aviation Support is a reliable and
        cost-effective choice.
        Whether you are a private individual or a business owner, they have a leasing solution
        that will meet your needs.
      </div>
    </div>
  </div>
</div>
