.container{
  box-shadow: 5px 5px 44px 0px rgba(0,0,0,0.29);
  border-radius: 5px;
  padding: 5% 2% 5% 2%;
}
table tr th{
  text-transform: uppercase;
  background-color:#024b70;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
}
