<app-header></app-header>
<div class="container">
  <div class="box-about">
    <h3 class="text-center pt-1">ABOUTS US SINE AEROSPACE</h3>
      <div> A global aviation leader , SINE AEROSPACE specializes in sale, lease
        and exchange of aircraft parts, engines ,
        and components with unrivaled expertise and proven strategies for supporting operators.
        SINE AEROSPACE is now one of the largest independent aviation
        parts distributors in the world covering every aerospace market sector.<br> We've been in the
        business of providing comprehensive aircraft inventory support for airlines, MROs, OEMs,
        and distributors.<br> We hold over a million line items of inventory on the
        shelf consisting of consumable, rotable and airframe spares for an extensive range of aircraft
        We're here to help you with supply chain services tailored to different aircraft families,
        such as the Airbus Family A319/A320/A321/A330/A340, B737CL/B737NG/B747/B757/B767/B787, ATR, and Bombardier
        aircraft.<br>
        We know the value of earning a customer’s trust. We value essentially
        meeting customer needs and delivering quality products, on time, at a competitive price.
      </div>
    <br>
      <div class="row">
        <div class="col-md-6">
          <img src="assets/imgs/about1.png" class="img-fluid" alt="...">
        </div>
        <div class="col-md-6">
          <img src="assets/imgs/about2.png" class="img-fluid" alt="...">
        </div>
      </div>
  </div>
  <div class="box-service">
    <h3 class="text-center pt-1">OUR services<br> WHAT WE OFFER ?</h3>
    <div class="row" style="margin: auto">
      <div class="col-lg-4 col-md-4 col-sm-12 mb-5" style="" *ngFor="let service of services">
       <div class="item">
         <img src="{{service.imgUrl}}">
         <div>
          <span>{{service.header}}</span>
           <p> {{service.text}}</p>
           <a class="btn" href="{{service.more}}"> Learn more <i class="bi bi-arrow-right"></i></a>
         </div>
       </div>
      </div>
    </div>
  </div>
  <div class="box-part">
    <h3 class="text-center">OUR PARTENER</h3>
    <div class="row" style="margin: auto">
      <div class="col-lg-3 col-md-3 col-sm-12 mb-1" style="" *ngFor="let img of imgUrl">
       <div class="partLogo">
         <img src="assets/imgs/gasPart/{{img}}.png">
       </div>
      </div>
    </div>
  </div>
</div>



